body {
    font-family: 'Montserrat', sans-serif;
    background-color: #3E3E3C;
    color: #E8E9C9;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    color: #85BB65;
}
hr {
    width: 90%;
    background-color: #E8E9C9; 
    margin-bottom: 2%;
}
.header {
    font-family: 'Roboto Slab', serif;
    color: #85BB65;
    margin-top: 0.5%;
    font-size: 10em;
}
#face {
    background: url('../images/roundSmile.png') no-repeat center center;
    min-height: 40px; 

}



#footer {
    text-align: left;
}